<template name="pageHome">
	{{> menuSite}}

	{{#animate type="fadeIn" delay="10"}}

		{{> headerPage}}

	{{/animate}}

	{{#animate type="fadeIn" delay="10"}}
	<!-- main -->
	<div class="main animated out">
		<span class="shadow-top"></span>
		<!-- shell -->
		<div class="shell">
			<div class="container">
				<!-- testimonial -->
				<section class="testimonial">
					
					<h2>Full Stack Developer - Software Egineer</h2>
					<p><strong>“</strong>
						Trabalho com desenvolvimento de sistemas SIG/SAD em plataformas locais e online, tendo experiência em várias etapas do processo como análise de necessidade arquitetura de sistemas, modelagem de dados, testes, implantação e implementações de melhorias.
						<strong>"</strong></p>
				</section>
				<!-- testimonial -->

				<section class="blog">
					<!-- content -->
					<div class="content">
						<img src="/images/i-img.png" alt=""  class="alignleft"/>
						<div class="cnt">
							<h3>We Guarantee Commitment &amp; Quality</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie condimentum consequat. Nam leo libero, scelerisque tincidunt commodo id, hendrerit vitae orci. Suspendisse eget nibh turpis. Sed at accumsan neque. Praesent purus eros, egestas eu temp</p>
							<ul>
								<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></li>
								<li><a href="#">Cras molestie condimentum consequat. </a></li>
								<li><a href="#">Nam leo libero, scelerisque tincidunt commodo id</a></li>
								<li><a href="#">Dae molestie condimentum consequat dolor</a></li>
							</ul>
						</div>
					</div>
					<!-- end of content -->

					<!-- sidebar -->
					<aside class="sidebar">
						<!-- widget -->
						<div class="widget">
							<h3>Trabalhos</h3>
							<ul>
								<li>
									<div class="img-holder">
										<a href="#"><img src="/images/post-img.png" alt="" /></a>
									</div>
									
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <em class="mobile"> idunt commodo id, hendrerit vitae orci. Suspendisse eget nibh turpis. Sed at accumsan neque praesent purus </em><span>02.02.2012</span></a> </p>
								</li>
								<li>
									<div class="img-holder">
										<a href="#"><img src="/images/post-img2.png" alt="" /></a>
									</div>
									<p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <em class="mobile"> idunt commodo id, hendrerit vitae orci. Suspendisse eget nibh turpis. Sed at accumsan neque praesent purus </em><span>01.02.2012</span></a> </p>
								</li>
								<li>
									<div class="img-holder">
										<a href="#"><img src="/images/post-img3.png" alt="" /></a>
									</div>
									<p>
									<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <em class="mobile"> idunt commodo id, hendrerit vitae orci. Suspendisse eget nibh turpis. Sed at accumsan neque praesent purus </em> 
									<span>30.01.2012</span></a></p>
								</li>
							</ul>
							<div class="cl">&nbsp;</div>
						</div>
							<a href="#" class="view">View All</a>
						<!-- end of widget -->
					</aside>
					<!-- end of sidebar -->
					<div class="cl">&nbsp;</div>
				</section>	
				
				<!-- cols -->
				<section class="cols">
					<div class="col">
						<h3>Correção de Bugs</h3>
						<img src="/images/cols-img.png" alt="" class="alignleft"/>
						<div class="col-cnt">
							<p>Manutenção de sistema embarcados com novas implementações e correção dos bugs existentes.</p>
						</div>
						<a href="#" class="view">View More</a>
					</div>
					<div class="col">
						<h3>Metodologia Ágil</h3>
						<img src="/images/cols-img2.png" alt="" class="alignleft"/>
						<div class="col-cnt">
							<p>Desenvolvimento de projetos utilizando ferramentas e modelos ágeis de produtividade e acompanhamento.</p>
						</div>
						<a href="#" class="view">View More</a>
					</div>
					<div class="col">
						<h3>Design Patterns</h3>
						<img src="/images/cols-img3.png" alt="" class="alignleft"/>
						<div class="col-cnt">
							<p>Solução geral para um problema que ocorre com frequência dentro de um determinado contexto no projeto de software.</p>
						</div>
						<a href="#" class="view">View More</a>
					</div>
					<div class="cl">&nbsp;</div>
				</section>
				<!-- end of cols -->
			</div>
		<!-- end of shell -->
		</div>
		<!-- end of container -->
		
	</div>
	{{/animate}}
	<!-- end of main -->

<!-- 	<hr>
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>

  <h2>Learn Meteor!</h2>
  <ul>
    <li><a href="https://www.meteor.com/try" target="_blank">Do the Tutorial</a></li>
    <li><a href="http://guide.meteor.com" target="_blank">Follow the Guide</a></li>
    <li><a href="https://docs.meteor.com" target="_blank">Read the Docs</a></li>
    <li><a href="https://forums.meteor.com" target="_blank">Discussions</a></li>
  </ul> -->

	{{#animate type="fadeIn" delay="10"}}
		{{> footerSite}}
	{{/animate}}
</template>