<template name="menuPrincipal">
	<!-- top-nav -->
	<nav class="top-nav">
		<div class="shell">
			<a href="#" class="nav-btn">HOMEPAGE<span></span></a>
			<span class="top-nav-shadow"></span>
			<ul>
				<li class="active"><span><a href="#">home</a></span></li>
				<li><span><a href="#">services</a></span></li>
				<li><span><a href="#">projects</a></span></li>
				<li><span><a href="#">solutions</a></span></li>
				<li><span><a href="#">jobs</a></span></li>
				<li><span><a href="#">blog</a></span></li>
				<li><span><a href="#">contacts</a></span></li>
			</ul>
		</div>
	</nav>	
</template>